body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

th {
  padding: 20px;
  background-color: #00cca0;
  border: 1px solid #00aa50;
}

td {
  padding: 10px;
  font-size: 10pt;
  border: 1px solid #cccccc;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 5px;
}

tr[data-distinct="1"] td {
  background-color: #f0f0f0;
}

tr[data-distinct="1"] td:first-child {
  color: #cc0000;
}
